*{
    box-sizing: border-box;
    margin: 0;
}

#site_header{
    height: 150px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: contain;
    position: relative;
}

header > h2{
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 20%;
    left: 1%;
}

header span{
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 15%;
}

